html {
	background-image: radial-gradient(#9013fe 1.5px, #ffffff 0.5px);
	background-size: 55px 55px;
}


body {
	width: 80vw;
	margin: 5rem auto;
	font-size: 2rem;
	font-family: 'Roboto light', sans-serif;
}

header h1 a {
	color: black;
	text-decoration: none;
	font-size: 3rem;
	font-family: 'Roboto', sans-serif;
}

header nav ul {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

header nav ul li {
	margin-top: 1rem;
}

header nav ul li a {
	color: black;
	padding: 1rem;
	border-radius: 0.5rem;
	text-decoration: none;
}

header nav ul li a:hover {
	color: white;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: #9013fe;
	text-decoration: none;
	transition: .5s;
}

header nav ul li a.selected {
	color: white;
	background-color: #9013fe;
}

header {
	margin-bottom: 5rem;
}

main h2 {
	font-size: 5rem;
	font-weight: bold;
	margin-bottom: 3rem;
}

main p {
	line-height: 3rem;
	margin-bottom: 3rem;
}

main img {
	display: block;
	margin: 0 auto 0rem auto;
}

main h3 {
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 3rem;
}

main ul.blog li a {
	color: black;
}

main ul.blog li {
	margin-bottom: 2rem;
}

main {
	margin-bottom: 5rem;
}

@media (min-width: 500px) {
	header nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 40rem;
		margin-top: 3rem;
	}

	header nav ul li a{
		margin-top: 1rem;
	}

	header nav {
		position: absolute;
		top: 7.5rem;
		right: 10vw;
	}

	header {
		margin-bottom: 8rem;
	}

	#grid {
		width: 100%;
	}

	#work {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0px;
	}
}

/* My Styles */

.highlight {
	color: #9013fe;
	font-weight: bolder;
	text-transform: uppercase;
}

#aboutgrid {
	display: grid;
	grid-template-columns: 0.3fr 1fr;
}

#aboutgrid img {
	float: left;
}

img {
	max-width: 100%
}

#insta {
	font-size: 0.3em;
	line-height: 300%;
}

#work {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0px;
}

#table {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
}

.header{
	color: white;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: #9013fe;
	width: 100%;
}

.effect {
		transition: transform .2s;
}

#work a:hover {
	transform: scale(1.05);
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#mail{
	color:white;
	background-color:#9013fe;
	border-radius: 0.5rem;
	padding:1rem;
	text-decoration: none;
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
